cryptography==3.3.1

gnocchiclient==7.0.7
grpcio==1.36.1
grpcio-tools==1.36.1

keystoneauth1~=4.3.0
pony==0.7.14
protobuf==3.15.3
psycopg2-binary==2.8.6
pyjwt==2.0.0

python-glanceclient==3.2.2
python-heatclient==2.3.0
python-neutronclient==7.6.0
python-novaclient==17.3.0
python-keystoneclient==4.3.0

PyYAML~=5.4.1
requests~=2.25.1
requests-toolbelt~=0.9.1